body{
    margin: 0px;
    background-image: url(https://wallpapercave.com/wp/wp5561430.jpg);
    background-size: 1920px 1080px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.container{
    margin: auto;
    margin-top: 10%;
    width: max-content;
    border: 1px solid aquamarine;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(127, 255, 212, 0.171);
}

.container h3{
    margin: 0px 0px 30px 0px;
    text-align: center;
}

.formgrid{
    display: grid;
    grid-template-columns: max-content max-content;
    gap: 15px;
    text-align: right;
}

.formgrid label{
    color: aquamarine;
    padding: 3px 0px 3px 0px;
}

.formgrid input{
    padding: 3px;
    border-radius: 3px;
    border: 1px solid aquamarine;
}

.selectwidth{
    width: 390px;
}

.button{
    grid-column: 2;
    width: 70px;
}